.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 60px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
  color: #0d1b2a;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 30px;
  font-weight: 500;
  color: #1e2a3a;
}

.navbar-links li {
  cursor: pointer;
}

.navbar-links li:hover {
  color: #2e7dff;
}
